
<%- include('partials/header') -%>
   <div class="container">

        <h1>MOVIE READ</h1>
        <p>
            <a class="btn btn-sm btn-secondary" href="/">List </a>
            <a class="btn btn-sm btn-primary" href="/create">New </a>
        </p>


        <div class="card m-3"  style="width: 50rem;">

            <div class="card-header text-center">
                <h2>
                    <%= data.name %>
                </h2>

            </div>
            <div class="row">
                <div class="col col-6">
                    <img src=<%=data.image %> style="width: 20rem;" class="card-img-top"
                    alt="..."></li>
                </div>
                <div class="col col-6">
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item mt-3">
                            <%= data.description %>
                        </li>

                        <%# require(' @import url('../node_modules/font-awesome/css/font-awesome.min.css')') %>
                            <li class="list-group-item mt-3"></li>
                            
                          
                            <li class="list-group-item mt-3">
                                <a class="btn btn-sm btn-info" href="/<%= data.id %>/update">Update</a>


                                <a class="btn btn-sm btn-danger" href="/<%= data.id %>/delete"
                                    onclick="return confirm('Are you sure?')">Delete</a>
                            </li>



                    </ul>
                </div>
            </div>
            <div class="card-footer  d-flex justify-content-between">
                <div><i class="fas fa-light fa-eye"></i> <%= data?.countOfVisitors %> </div>
                <!-- <div><i class="fas fa-light fa-heart" style="color: red;"></i></div>
                <div> -->
                    <%= data.point %>
                </div>

            </div>


        </div></div>
        <%- include('partials/footer') -%>